
#footer {
	margin-top: 3.125rem;
	min-height: 12.5rem;
	background-image: url(../img/页脚.png);
}
#head{
	min-height: 12.5rem;
	background-image: url(../img/页头.jpg);
}
#content{
	width: 80%;
	background-color: #FFE4C4;
	margin-left: 10%;
}
h2{
	color: red;
}
h1{
	text-align: center;
}
#jsdom2{
	background-color: #DEB887;
}
#resetcss{
	width: 6.25rem;
	height: 6.25rem;
	background-color: black;
	color: white;
	text-align: center;
	font-size: xx-large;
	margin-left:40% ;
	margin-top: 1.25rem;
}
#jsdom3{
	background-color: #7FFFD4;
}
#jsdom4{
	background-color: beige;
}
.indexo{
	background-color: #7FFFD4;
}
#arrobj{
	background-color: aqua;
}
#reg{
	background-color: cadetblue;
}