#yy01 {
	background-color: aquamarine;
}

#yy02 {
	background-color: burlywood;
}

#yy03 {
	background-color: aqua;
}

h2 {
	color: #FF0000;
}

#yf01 {
	background-color: #00FFFF;
}

#yf02 {
	background-color: #DEB887;
}

#yf03 {
	background-color: bisque;
}

#footer {
	margin-top: 3.125rem;
	min-height: 12.5rem;
	background-image: url(../img/页脚.png);
}
#head{
	min-height: 12.5rem;
	background-image: url(../img/页头.jpg);
}

#yf04{
	background-color:#7FFFD4 ;
}
#yf05{
	background-color: aliceblue;
}
#yf07{
	background-color: #7FFFD4;
}
#yf06{
	background-color: #FFE4C4;
}
h1{
	text-align: center;
	color: red;
}




